<div class="container">
  <h1 class="text-center mb-5">Привет {{nick}}!</h1>
  <div class="row">
    <div class="col-sm">
      <div class="card-body bg-light">
        <p class="mark text-center">Общая информация</p>
        <div class="justify-content-between align-items-center">
          <p><a>Логин</a>: <a>{{nick}}</a></p>
          <p><a>Почта</a>: <a>{{currentUser.email}}</a></p>
          <p><a>Статус</a>: <a>{{currentUser.status}}</a></p>
            {{#if isDonater}}
            <form action="/lk/upgrade" method="GET">
              <button class="btn btn-sm btn-outline-secondary">Расширить возможности</button>
            </form>
            {{/if}}
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card-body bg-light">
        <p class="mark text-center">Интересы</p>
        <div class="justify-content-between align-items-center">
          {{#each currentUser.intrests}}
          <p>{{this}}</p>
          {{/each}}
          <form id="form2">
            <button class="btn btn-sm btn-outline-secondary" id="button2">Изменить интересы</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card-body bg-light">
        <p class="mark text-center">Избранное</p>
        <div class="justify-content-between align-items-center">
          {{#each fav}}
          <p><a href="/post/{{this.favId}}" class="text-decoration-none text-dark">{{this.favName}}</a></p> 
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

<script src="js/editprofile.js"></script>

