    {{!-- <main class='Case'>

      <div class="albumCase py-5Case bg-lightCase">
        <div class="containerCase">
          <div class="rowCase row-cols-1Case row-cols-sm-2Case row-cols-md-3Case g-3Case">

            <div class="colCase">
              <div class="cardCase shadow-smCase">
                
                <iframe class='iframeCase' src={{theCase.caseVideo}} allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-bodyCase">
                  <p class="card-textCase">{{theCase.caseTitle}}</p>
                  <p class='card-textCase'>{{theCase.aseScript}}</p>              
                </div> 
                    <div class="btn-groupCase">
                      <button class="btn btn-sm btn-outline-secondaryCase">решить кейс и спросить эксперта</button>
                      <button class="btn btn-sm btn-outline-secondaryCase">посмотреть решение</button>
                </div>
              </div>
            </div>

    </main>--}}
    

<main id="Case">
  <div class="container">
    <h2 class="mt-5">{{theCase.caseTitle}}</h2>
    <iframe width="100%" height="500px" src={{theCase.caseVideo}} allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p class='card-textCase'>{{theCase.caseScript}}</p>              
      <input type='textarea' width="100%" placeholder="Попробуйте себя в роли эксперта данной сферы и решите поставленную задачу, а потом узнайте, наскольо рационально вы справились!">
    <div class="btn-groupCase">
       <button class="btnCase btn-sm btn-outline-secondaryCase">решить кейс и спросить эксперта</button>
       <button class="btnCase btn-sm btn-outline-secondaryCase">посмотреть решение</button>
    </div>
  </div>
</main>
